<!DOCTYPE html>
<html>

<head>
    <title>{{ page.title }} | Order Tracker</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.css" />
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body>
    <div class="container">
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="/">
                    <h1><b>Order Tracker</b></h1>
                    <!--<img src="https://placehold.it/112x28" width="112" height="28">-->
                </a>
                <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
                    data-target="navbarMain">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div id="navbarMain" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item">
                        Home
                    </a>
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link" href="/orders">
                            Orders
                        </a>
                        <div class="navbar-dropdown">
                            <a class="navbar-item" href="/orders/open">
                                Open
                            </a>
                            <a class="navbar-item" href="/orders/closed">
                                Closed
                            </a>
                        </div>
                    </div>
                    <a class="navbar-item">
                        Customers
                    </a>
                </div>

                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons">
                            <a class="button is-light">
                                Log in
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div class="section">
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    <footer class="footer">
        <div class="content has-text-centered">
            <p>Copyright &copy; 2019, Jordan Dunn. All Rights Reserved.</p>
        </div>
    </footer>
</body>

</html>