{% extends "base.html" %}

{% block content %}
<div class="box">
    <h1 class="box-title has-text-centered"><b>Add Order</b></h1>
    <form action="/order/add" method="POST">
        <div class="form-group">
            <label for="orderNumber">Order Number</label>
            <input class="input column is-one-quarter" type="text" name="orderNumber" />
        </div>
        <br />
        <div class="form-group">
            <table class="table is-fullwidth has-text-centered">
                <thead>
                    <tr>
                        <th class="has-text-centered">Item Number</th>
                        <th class="has-text-centered">Qty Ordered</th>
                        <th class="has-text-centered">Qty Released</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input class="input" type="text" name="partNumber1" /></td>
                        <td><input class="input" type="number" name="partQuantity1" /></td>
                        <td><input class="input" type="number" name="partQuantityReleased1" /></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br />
        <div class="form-group">
            <button class="button">Add Item</button>
        </div>
    </form>
</div>
<div class="box">
    <div class="columns">
        <div class="column is-three-quarter">
            <h3><b>Jordan Dunn</b> partially released order <a>P15825671</a></h3>
        </div>
        <div class="column is-one-quarter has-text-right">6/19/2019</div>
    </div>
    <table class="table is-fullwidth is-striped has-text-centered">
        <thead>
            <tr>
                <th class="has-text-centered">Released Quantity</th>
                <th class="has-text-centered">Remaining Quantity</th>
                <th class="has-text-centered">Part Number</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="has-text-centered">1</td>
                <td class="has-text-centered">0</td>
                <td class="has-text-centered"><a>LED15812</a></td>
            </tr>
            <tr>
                <td class="has-text-centered">0</td>
                <td class="has-text-centered">25</td>
                <td class="has-text-centered"><a>LED18253</a></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="box">
    <div class="columns">
        <div class="column is-three-quarter">
            <h3><b>Jordan Dunn</b> added order <a>P15825671</a></h3>
        </div>
        <div class="column is-one-quarter has-text-right">6/17/2019</div>
    </div>
    <table class="table is-fullwidth is-striped">
        <thead>
            <tr>
                <th class="has-text-centered">Quantity</th>
                <th class="has-text-centered">Part Number</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="has-text-centered">1</td>
                <td class="has-text-centered"><a>LED15812</a></td>
            </tr>
            <tr>
                <td class="has-text-centered">25</td>
                <td class="has-text-centered"><a>LED18253</a></td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}